<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Customer Management</title>
</head>


<body>
    <header>
        <h1>CRM - Customer Management</h1>
    </header>

    <!-- Main Content -->
    <div class="content">
        <h2>Welcome to the CRM System</h2>
        <p>This is the main dashboard of the CRM application.</p>
        <h3>{{.Message}}</h3>
        <!-- You can add more content and features here -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
        <form>
            <a href="/" class="button">Home</a><br>
            <a href="/newCustomerForm" class="button">New Client</a><br>
        </form>
        </ul>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 UndeadTokenArt</p>
    </footer>
</body>
</html>
