<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Customer Management</title>
</head>

<body>
    <div class=content>
        <h3>New client form</h3>
    <form action="/newCustomerForm" method="POST">

        {{ range . }}
        <label for="{{ . }}">{{ . }}:</label>
        <input type="text" id="{{ . }}" name="{{ . }}" required><br>
        {{ end }}
        <input type="submit" value="Submit">

    </form>
    </div>

        <!-- Sidebar -->
    <div class="sidebar">
        <h2>Sidebars</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/newCustomerForm">New Client</a></li>
        </ul>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 UndeadTokenArt</p>
    </footer>

</body>



